<div class="container-fluid"></div>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/dashbord" class="d-inline-flex link-body-emphasis text-decoration-none fw-bold text-primary fs-2">
          Notes
        </a>
      </div>

     <form action="/dashbord/search" method="POST" class=" nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search">
        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search..." aria-label="Search">
     </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-outline-primary me-2">Log Out</a>
        
      </div>
    </header>
  </div>